<p>Cloud</p>
<mat-expansion-panel [(expanded)]="panelOpenState" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Agregar un cloud
      </mat-panel-title>
      <mat-panel-description>
        Click aqui...
      </mat-panel-description>
    </mat-expansion-panel-header>
  
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Crear cloud</mat-card-title>
        <mat-card-subtitle>Todos los campos son obligatorios</mat-card-subtitle>
      </mat-card-header>
  
      <div class="formularioRegistro">
        <form [formGroup]="cloudForm" (ngSubmit)="guardar()">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" class="form-control">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" class="form-control">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="nombre" class="form-control">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Storage</mat-label>
              <input matInput type="text" formControlName="storage" class="form-control">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Rol</mat-label>
              <input matInput type="text" formControlName="rol" class="form-control">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Alta</mat-label>
              <input matInput type="date" formControlName="fechaAlta" class="form-control">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Modificacion</mat-label>
              <input matInput type="date" formControlName="fechaModif" class="form-control">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Fecha Baja</mat-label>
              <input matInput type="date" formControlName="fechaBaja" class="form-control">
            </mat-form-field>
          </div>
          <button mat-button color="primary" type="submit" [disabled]="cloudForm.invalid">Guardar</button>
        </form>
      </div>
    </mat-card>
  
  </mat-expansion-panel>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cloud registrados</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <div class="mat-elevation-z8">
       <!-- Campo de búsqueda -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar cloud</mat-label>
      <input matInput type="text" placeholder="Ingrese nombre o apellido" [(ngModel)]="filtroCloud" (keyup)="applyFilter()">
    </mat-form-field>
      <table mat-table #table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <ng-container matColumnDef="password">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nombre">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <ng-container matColumnDef="storage">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Storage </th>
          <td mat-cell *matCellDef="let element"> {{element.storage}} </td>
        </ng-container>
    
        <ng-container matColumnDef="rol">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Rol </th>
          <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaAlta">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha  Alta </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaAlta}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaModif">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha Modificación </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaModif}} </td>
        </ng-container>
        <ng-container matColumnDef="fechaBaja">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Fecha Baja </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaBaja}} </td>
        </ng-container>
        
    
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element">
    
            <div class="example-button-container">
              <button mat-mini-fab color="basic" aria-label="Example icon button with a delete icon"
                (click)="editar(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="eliminar(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
        <ng-template mat-paginator-range-label>
          {{ paginator.pageIndex * paginator.pageSize + 1 }} - {{ (paginator.pageIndex + 1) * paginator.pageSize }} de {{ paginator.length }}
        </ng-template>
      
        <button mat-icon-button (click)="goToFirstPage()" [disabled]="paginator.pageIndex === 0">
          <mat-icon>first_page</mat-icon>
        </button>
        <button mat-icon-button (click)="goToPreviousPage()" [disabled]="paginator.pageIndex === 0">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="goToNextPage()" [disabled]="!paginator.hasNextPage()">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button mat-icon-button (click)="goToLastPage()" [disabled]="!paginator.hasNextPage()">
          <mat-icon>last_page</mat-icon>
        </button>
      </mat-paginator>
    </div>
  </mat-card>
