<p>
  <mat-toolbar>
    <span>GaliPhone</span>
    
    <!-- Enlace para navegar a ClienteComponent -->

    <a mat-button routerLink="/clientes">CLIENTES</a>
    <a mat-button routerLink="/productos">PRODUCTOS</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/ftth'">
        FTTH
      </button>
      <button mat-menu-item [routerLink]="'/movil'">
        MÓVIL
      </button>
      <button mat-menu-item [routerLink]="'/cloud'">
        CLOUD
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu">
      ÓRDENES
    </button>
  </mat-toolbar>
</p>


  

    
        
       

<router-outlet></router-outlet>