<div class="button-container">
    <!-- Primera fila -->
    <button class="large-button button-blue" (click)="navigateTo('clientes')">Clientes</button>
    <button class="large-button button-green" (click)="navigateTo('productos')">Productos</button>
    <button class="large-button button-yellow" (click)="navigateTo('ftth')">FTTH</button>
  
    <!-- Segunda fila -->
    <button class="large-button button-red" (click)="navigateTo('cloud')">Cloud</button>
    <button class="large-button button-purple" (click)="navigateTo('mobile')">Mobile</button>
  </div>
